.card-header {
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 5px !important;
}

.card-body {
  padding: 10px 10px 0 10px;
  margin: 0 0 10px 0;
  border-radius: 5px;
}

.pokemonCard {
  border: none;
  margin: 10px;
  padding: 10px 10px 0 10px;
  border-radius: 0;
}

.pokemonCard__link {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.pokemonCard__pokemonNameContent {
  padding: 0;
  margin: 0;
  background: #fff;
  border-radius: 5px;
}

.pokemonCard__pokemonName,
.pokemonCard__pokemonNumber {
  margin: 0;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.pokemonCard__pokemonNumberContent,
.pokemonCard__pokemonTypesContent,
.pokemonCard__pokemonAbilitiesContent {
  margin: 0 0 10px 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
}

.pokemonCard__pokemonAbilitiesContent {
  min-height: 112.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemonCard_pokemonImageContent {
  margin: 10px 0 0 0;
  background-color: #fff;
  border-radius: 5px;
}

.pokemonCard__pokemonType {
  margin: 10px 0;
  padding: 3px 10px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
}

.pokemonCard__pokemonAbility {
  margin: 10px 0;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

/* Estilização das Cores nos Cards */
/* Grass Card */
.pokemonCard.grassType {
  background-color: var(--grass-normal);
  border: 7px solid var(--grass-dark);
}

.pokemonCard.grassType .card-header {
  background-color: var(--grass-light);
}

.pokemonCard.grassType .card-body {
  background-color: var(--grass-light);
}

.pokemonCard__pokemonType.grassType {
  background-color: var(--grass-normal);
}

/* Fire Card */
.pokemonCard.fireType {
  background-color: var(--fire-normal);
  border: 7px solid var(--fire-dark);
}

.pokemonCard.fireType .card-header {
  background-color: var(--fire-light);
}

.pokemonCard.fireType .card-body {
  background-color: var(--fire-light);
}

.pokemonCard__pokemonType.fireType {
  background-color: var(--fire-normal);
}

/* Water Card */
.pokemonCard.waterType {
  background-color: var(--water-normal);
  border: 7px solid var(--water-dark);
}

.pokemonCard.waterType .card-header {
  background-color: var(--water-light);
}

.pokemonCard.waterType .card-body {
  background-color: var(--water-light);
}

.pokemonCard__pokemonType.waterType {
  background-color: var(--water-normal);
}

/* Bug Card */
.pokemonCard.bugType {
  background-color: var(--bug-normal);
  border: 7px solid var(--bug-dark);
}

.pokemonCard.bugType .card-header {
  background-color: var(--bug-light);
}

.pokemonCard.bugType .card-body {
  background-color: var(--bug-light);
}

.pokemonCard__pokemonType.bugType {
  background-color: var(--bug-normal);
}

/* Normal Card */
.pokemonCard.normalType {
  background-color: var(--normal-normal);
  border: 7px solid var(--normal-dark);
}

.pokemonCard.normalType .card-header {
  background-color: var(--normal-light);
}

.pokemonCard.normalType .card-body {
  background-color: var(--normal-light);
}

.pokemonCard__pokemonType.normalType {
  background-color: var(--normal-normal);
}

/* Poison Card */
.pokemonCard.poisonType {
  background-color: var(--poison-normal);
  border: 7px solid var(--poison-dark);
}

.pokemonCard.poisonType .card-header {
  background-color: var(--poison-light);
}

.pokemonCard.poisonType .card-body {
  background-color: var(--poison-light);
}

.pokemonCard__pokemonType.poisonType {
  background-color: var(--poison-normal);
}

/* Electric Card */
.pokemonCard.electricType {
  background-color: var(--electric-normal);
  border: 7px solid var(--electric-dark);
}

.pokemonCard.electricType .card-header {
  background-color: var(--electric-light);
}

.pokemonCard.electricType .card-body {
  background-color: var(--electric-light);
}

.pokemonCard__pokemonType.electricType {
  background-color: var(--electric-normal);
}

/* Ground Card */
.pokemonCard.groundType {
  background-color: var(--ground-normal);
  border: 7px solid var(--ground-dark);
}

.pokemonCard.groundType .card-header {
  background-color: var(--ground-light);
}

.pokemonCard.groundType .card-body {
  background-color: var(--ground-light);
}

.pokemonCard__pokemonType.groundType {
  background-color: var(--ground-normal);
}

/* Fairy Card */
.pokemonCard.fairyType {
  background-color: var(--fairy-normal);
  border: 7px solid var(--fairy-dark);
}

.pokemonCard.fairyType .card-header {
  background-color: var(--fairy-light);
}

.pokemonCard.fairyType .card-body {
  background-color: var(--fairy-light);
}

.pokemonCard__pokemonType.fairyType {
  background-color: var(--fairy-normal);
}

/* Flying Card */
.pokemonCard.flyingType {
  background-color: var(--flying-normal);
  border: 7px solid var(--flying-dark);
}

.pokemonCard.flyingType .card-header {
  background-color: var(--flying-light);
}

.pokemonCard.flyingType .card-body {
  background-color: var(--flying-light);
}

.pokemonCard__pokemonType.flyingType {
  background-color: var(--flying-normal);
}

/* Fighting Card */
.pokemonCard.fightingType {
  background-color: var(--fighting-normal);
  border: 7px solid var(--fighting-dark);
}

.pokemonCard.fightingType .card-header {
  background-color: var(--fighting-light);
}

.pokemonCard.fightingType .card-body {
  background-color: var(--fighting-light);
}

.pokemonCard__pokemonType.fightingType {
  background-color: var(--fighting-normal);
}

/* Psychic Card */
.pokemonCard.psychicType {
  background-color: var(--psychic-normal);
  border: 7px solid var(--psychic-dark);
}

.pokemonCard.psychicType .card-header {
  background-color: var(--psychic-light);
}

.pokemonCard.psychicType .card-body {
  background-color: var(--psychic-light);
}

.pokemonCard__pokemonType.psychicType {
  background-color: var(--psychic-normal);
}

/* Rock Card */
.pokemonCard.rockType {
  background-color: var(--rock-normal);
  border: 7px solid var(--rock-dark);
}

.pokemonCard.rockType .card-header {
  background-color: var(--rock-light);
}

.pokemonCard.rockType .card-body {
  background-color: var(--rock-light);
}

.pokemonCard__pokemonType.rockType {
  background-color: var(--rock-normal);
}

/* Ghost Card */
.pokemonCard.ghostType {
  background-color: var(--ghost-normal);
  border: 7px solid var(--ghost-dark);
}

.pokemonCard.ghostType .card-header {
  background-color: var(--ghost-light);
}

.pokemonCard.ghostType .card-body {
  background-color: var(--ghost-light);
}

.pokemonCard__pokemonType.ghostType {
  background-color: var(--ghost-normal);
}

/* Ice Card */
.pokemonCard.iceType {
  background-color: var(--ice-normal);
  border: 7px solid var(--ice-dark);
}

.pokemonCard.iceType .card-header {
  background-color: var(--ice-light);
}

.pokemonCard.iceType .card-body {
  background-color: var(--ice-light);
}

.pokemonCard__pokemonType.iceType {
  background-color: var(--ice-normal);
}

/* Dragon Card */
.pokemonCard.dragonType {
  background-color: var(--dragon-normal);
  border: 7px solid var(--dragon-dark);
}

.pokemonCard.dragonType .card-header {
  background-color: var(--dragon-light);
}

.pokemonCard.dragonType .card-body {
  background-color: var(--dragon-light);
}

.pokemonCard__pokemonType.dragonType {
  background-color: var(--dragon-normal);
}

/* Mobile */
@media (max-width: 768px) {
  .pokemonCard__pokemonName,
  .pokemonCard__pokemonNumber {
    font-size: 14px;
  }

  .pokemonCard__pokemonType {
    font-size: 11px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .pokemonCard__pokemonName,
  .pokemonCard__pokemonNumber {
    font-size: 14px;
  }

  .pokemonCard__pokemonType {
    font-size: 11px;
  }
}
