.card-header {
  padding: 13px;
  margin: 0 0 13px 0;
  border-radius: 5px;
}

.card-body {
  padding: 13px;
  margin: 0 0 13px 0;
  border-radius: 5px;
}

.pokemonCard__link {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.pokemonCard__pokemonNameContent {
  padding: 0;
  margin: 0;
  background: #fff;
  border-radius: 5px;
}

.pokemonCard__pokemonName,
.pokemonCard__pokemonNumber {
  margin: 0;
  padding: 13px;
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  color: #000;
}

.pokemonCard__pokemonNumberContent,
.pokemonCard__pokemonTypesContent {
  padding: 0;
  background: #fff;
  border-radius: 5px;
}

.pokemonCard_pokemonImageContent {
  margin: 13px 0 0 0;
  background-color: #fff;
  border-radius: 5px;
}

.pokemonCard__pokemonType {
  margin: 13px;
  padding: 3px 10px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}

/* Estilização das Cores nos Cards */
/* Grass Card */
.pokemonCard.grassType {
  background-color: var(--grass-normal);
  border: 7px solid var(--grass-dark);
}

.pokemonCard.grassType .card-header {
  background-color: var(--grass-light);
}

.pokemonCard.grassType .card-body {
  background-color: var(--grass-light);
}

.pokemonCard__pokemonType.grassType {
  background-color: var(--grass-normal);
}

/* Fire Card */
.pokemonCard.fireType {
  background-color: var(--fire-normal);
  border: 7px solid var(--fire-dark);
}

.pokemonCard.fireType .card-header {
  background-color: var(--fire-light);
}

.pokemonCard.fireType .card-body {
  background-color: var(--fire-light);
}

.pokemonCard__pokemonType.fireType {
  background-color: var(--fire-normal);
}

/* Water Card */
.pokemonCard.waterType {
  background-color: var(--water-normal);
  border: 7px solid var(--water-dark);
}

.pokemonCard.waterType .card-header {
  background-color: var(--water-light);
}

.pokemonCard.waterType .card-body {
  background-color: var(--water-light);
}

.pokemonCard__pokemonType.waterType {
  background-color: var(--water-normal);
}
