.pokedexLoader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  overflow: hidden;
}

.pokedexLoader img {
  margin-bottom: 30px;
}
