@font-face {
  font-family: pokemonGB;
  src: url(./assets/fonts/Pokemon\ GB.ttf);
}

* {
  --grass-light: #a7db8d;
  --grass-normal: #78c850;
  --grass-dark: #4e8234;
  --fire-light: #f5ac78;
  --fire-normal: #f08030;
  --fire-dark: #9c531f;
  --water-light: #9db7f5;
  --water-normal: #6890f0;
  --water-dark: #445e9c;
  --bug-light: #c6d16e;
  --bug-normal: #a8b820;
  --bug-dark: #6d7815;
  --normal-light: #c6c6a7;
  --normal-normal: #a8a878;
  --normal-dark: #6d6d4e;
  --poison-light: #c183c1;
  --poison-normal: #a040a0;
  --poison-dark: #682a68;
  --ground-light: #ebd69d;
  --ground-normal: #e0c068;
  --ground-dark: #927d44;
  --electric-light: #fae078;
  --electric-normal: #f8d030;
  --electric-dark: #a1871f;
  --fairy-light: #f4bdc9;
  --fairy-normal: #ee99ac;
  --fairy-dark: #9b6470;
  --flying-light: #c6b7f5;
  --flying-normal: #a890f0;
  --flying-dark: #6d5e9c;
  --fighting-light: #d67873;
  --fighting-normal: #c03028;
  --fighting-dark: #7d1f1a;
  --psychic-light: #fa92b2;
  --psychic-normal: #f85888;
  --psychic-dark: #a13959;
  --rock-light: #d1c17d;
  --rock-normal: #b8a038;
  --rock-dark: #786824;
  --ghost-light: #a292bc;
  --ghost-normal: #705898;
  --ghost-dark: #493963;

  text-decoration: none;
  font-family: pokemonGB, sans-serif;
}

.grassType {
  background-color: var(--grass-normal);
}

.fireType {
  background-color: var(--fire-normal);
}

.waterType {
  background-color: var(--water-normal);
}

.bugType {
  background-color: var(--bug-normal);
}

.normalType {
  background-color: var(--normal-normal);
}

.poisonType {
  background-color: var(--poison-light);
}

.groundType {
  background-color: var(--ground-light);
}

.electricType {
  background-color: var(--electric-light);
}

.title {
  margin-bottom: 13px;
  color: #000;
  font-weight: 600;
}
